.container {
  width: 1200px;
  margin: 0 auto;
}

/* 
.header;;
 */
.header {
  background: #ddd;
  line-height: 100px;
}
.header nav {
  display: flex;
}
.header nav > ul {
  display: flex;
}
/* 
.header;;
 */

/* 
.MainVisual;;
 */
.MainVisual {
  background: #ddd;
}
.mainSlider {
}
/* 
.MainVisual;;
 */

/* 
.c01;;
 */
.c01 {
  background: #fff;
}
/* 
.c01;;
 */

/* 
.c02;;
 */
.c02 {
  background: #ddd;
}
/* 
.c02;;
 */

/* 
.c03;;
 */
.c03 {
  background: #fff;
}
/* 
.c03;;
 */

/* 
.c04;;
 */
.c04 {
  background: #ddd;
}
/* 
.c04;;
 */

/* 
.c05;;
 */
.c05 {
  background: #fff;
}
/* 
.c05;;
 */
