* {
  /* outline: 1px solid red; */
}
html {
  font-size: 10px;
}
.container {
  width: 120rem;
  margin: 0 auto;
}

/* 
.Header;;
 */
.Header {
  line-height: 10rem;
  border-bottom: 1px solid #ddd;
}
.Header nav {
  display: flex;
  justify-content: space-between;
  color: #333;
}
.Header nav h1 {
  font-size: 0;
}
.Header nav > ul {
  display: flex;
  font-size: 1.6rem;
  gap: 4rem;
}
.Header .user {
  width: 12rem;
  text-align: end;
  font-size: 2rem;
}
/* 
.Header;;
 */

/* 
.MainVisual;;
 */
.MainVisual {
}
.mainSlider {
  position: relative;
  margin-bottom: 100px;
}
.mainSlider .slide {
  display: flex;
}
.mainSlider .slide .left,
.mainSlider .slide .right {
  flex: 1;
}
.mainSlider .left {
  padding: 100px 0;
  text-align: center;
}
.mainSlider .slick-arrow {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 0%;
  background: none;
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}
.mainSlider .slick-next:hover,
.mainSlider .slick-prev:hover {
  border-top: 2px solid rgba(0, 0, 0, 0.6);
  border-left: 2px solid rgba(0, 0, 0, 0.6);
}
/* 
.MainVisual;;
 */

/* 
.Cake;;
 */
.Cake {
  font-size: 1.7rem;
  margin-bottom: 10rem;
}
.Cake .container {
  display: flex;
  gap: 3rem;
}
.Cake .leftBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  padding: 0rem 3rem;
}
.Cake .rightBox {
  flex: 3;
}
.Cake h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.Cake .top {
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
}
.Cake img {
}
.Cake .bottom {
  display: flex;
  gap: 3rem;
}
/* 
.Cake;;
 */

/* 
.Sweet;;
 */
.Sweet {
}
.Sweet {
}
.Sweet .container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.Sweet h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.Sweet .top {
  display: flex;
  gap: 3rem;
}
.Sweet .bottom {
  display: flex;
  gap: 3rem;
}
/* 
.Sweet;;
 */

/* 
.c03;;
 */
.c03 {
  background: #fff;
}
/* 
.c03;;
 */

/* 
.c04;;
 */
.c04 {
  background: #ddd;
}
/* 
.c04;;
 */

/* 
.c05;;
 */
.c05 {
  background: #fff;
}
/* 
.c05;;
 */
